.input {
    width: 380px;
    height: 45px;

    padding: 0 15px;

    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;

    background: #fff;
    color: #1d1721;

  
    border: 1px solid #e0e0e0;
    border-radius: 10px;

    -webkit-transition: all .2s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all .2s cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: all .2s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all .2s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all .2s cubic-bezier(0.19, 1, 0.22, 1);

    &:focus {
        background: #fff;
        border: 1px solid #5b497f;

        outline: none;
  
    }
    &::placeholder {
        color: #000;
        opacity: 0.4; 
        letter-spacing: 1px;
      }

}